body {
    margin: 0px;
    background: #F5F6FA;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    background: white;
    height: 3em;
    width: 100%;
}

.icon, .title, .searchMenu, .icons {
    display: flex;
    align-items: center;
}

.icon, .searchMenu button {
    margin: 0 10px;
    font-size: 20px;
}

.logoTitle {
    color: black;
    font-size: 1.5em;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-left: 0.5em;
}

.searchMenu input {
    padding: 5px;
    font-size: 16px;
}

.searchMenu input {
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 40em;
}

.user {
    display: flex;
    align-items: center;
}

.userName {
    font-size: 16px;
}

.textProfile {
    color: #5A607F;
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    margin-left: 10px;
}

/* Navigation */

.container {
    display: flex;
}

.menu {
    width: 15%;
    background-color: #F5F6FA;
    padding: 20px;
    border-right: 1px solid #D7DBEC;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu li {
    padding-left: 5%;
    display: flex;
    align-items: center;
}

.menu a {
    margin: 5px;
    text-decoration: none;
    color: #5A607F;
    font-family: "Inter", sans-serif;
    font-size: 1em;
}

.menu li:hover {
    background-color: #1E5EFF;
    color: #FFFFFF;
    border-radius: 10px;
}

li:hover a {
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #1E5EFF;
    color: #FFFFFF;
    border-radius: 10px;
}

a.active {
    background-color: #1E5EFF;
    color: #FFFFFF;
    border-radius: 10px;
}

.rectangle {
    margin-left: 10%;
    width: 2em;
    height: 1.2em;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    border-radius: 15px;
}

.informMenu {
    margin-top: 15%;
    color: #A1A7C4;
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
}

/* Navigation2 */

.menu2 {
    width: 18%;
    height: 42em;
    background-color: #F5F6FA;
    padding: 20px;
}

.menu2 a {
    text-decoration: none;
    color: #5A607F;
    font-family: "Inter", sans-serif;
    font-size: 1em;
}

.h2title {
    color: black;
    font-family: "Inter", sans-serif;
}

/* Information */

.content {
    flex: 1;
    padding: 20px;
}

.content div {
    margin-bottom: 1%;
}

.content h2 {
    color: #333;
}

.searchContainer {
    padding-left: 2%;
    display: flex;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.searchInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box;
}

.infoContainer {
    padding: 3%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.h2InfoText {
    font-size: 1.3em;
    color: black;
    font-family: "Inter", sans-serif;
}

.h2InfoText2 {
    font-size: 1.3em;
    color: black;
    font-family: "Inter", sans-serif;
    margin-top: 1.5em;
}

.textInfo {
    font-family: "Inter", sans-serif;
    font-size: 1em;
}

.infoContainerGrey {
    padding-left: 3%;
    background-color: #F5F6FA;
    border-radius: 5px;
    overflow: hidden;
}

.textInfogrey {
    color: #5A607F;
    font-family: "Inter", sans-serif;
    font-size: 1em;
}

.borderGrey {
    margin-top: 3%;
    border-bottom: 1px solid #D7DBEC;
}

.circleInfo {
    display: flex;
    align-items: center;
    margin: 0px;
}

.circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #F5F6FA;
    color: #5A607F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 1em;
}

.textBlock {
    width: 100%;
    margin-left: 3%;
}

.textInfoStartWork {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    margin: 1%;
}

.blockButtons {
    flex: 0;
    padding: 0px;
    padding-bottom: 1px;
}

.button {
    padding: 10px 20px;
    background-color: transparent;
    color: #5A607F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
}

.button:hover {
    color: #1E5EFF;
}

.button:active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1E5EFF;
    bottom: 0;
    left: 0;
}

.borderGreyButtons {
    border-bottom: 1px solid #D7DBEC;
}

.borderGreyBig {
    margin-top: 3%;
    border-bottom: 1px solid #D7DBEC;
    margin-left: -5%;
    margin-right: -5%;
}

.containerForButtons {
    display: flex;
}

.padding {
    padding-left: 2%;
}

.containerYesAndNo {
    width: 60px;
    height: 30px;
    background-color: #FFF;
    border: 2px solid #D7DBEC;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E5EFF;
    font-family: "Inter", sans-serif;
}

.textInfoSmall {
    font-family: "Inter", sans-serif;
    color: #5A607F;
    font-size: 0.8em;
}

.underBlockText {
    margin-top: 1.5em;
}

.underGroup {
    display: flex;
    justify-content: space-between;
}

.underContainer {
    padding: 3%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.underBlock {
    margin: 0.8em;
}

.blueText {
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    color: #1E5EFF;
}

.textInfoSmall2 {
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
}

/*.horizontalContainer {*/
/*    display: grid;*/
/*    gap: 10px;*/
/*}*/

/*.element {*/
/*    padding: 10px;*/
/*    border: 1px solid #ccc;*/
/*}*/